
{% extends "base.html" %}


{% block title %}
Nuevo departamento
{% endblock title %}

{% block content %}

{% include "includes/header.html" %}

<div class ="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registrar departamento</h1>
        <form class="cell grid-x grid-margin-x" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="medium-6 cell">
                <label>Nombres
                    {{ form.nombre}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Apellidos
                    {{ form.apellidos}}
            </div>
            <div class="medium-6 cell">
                <label>Departamento
                    {{ form.departamento}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Shorname
                    {{ form.shorname}}
                </label>
            </div>
            <div class="medium-6 cell">
                <button type="submit" class="button success"> Añadir departamento </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}